
* {
    margin: 0;  /*Margin: espaço externo (fora da borda, entre elementos)0*/
    padding: 0;/*padding espaço interno (entre conteúdo e borda)*/
    box-sizing: border-box; /*tamanho da caixa, configura o tamanho da caixa*/
}


body {
    font-family: sans-serif; /*fonte das letras de tudo que esta dentro do corpo/ body*/
    background-color: #dde0e6;/*cor de fundo*/
    color: #333;/*cor da letra*/
    line-height: 1.6;/*tamanho da linha*/
    padding: 40px 20px;/*padding espaço interno (entre conteúdo e borda)*/
    display: flex;/*modelo do lauyout para alinhar e distribuir elementos "automaticamente" em linhas ou colunas*/
    flex-direction: column;/*organiza os itens filhos de um contêiner em uma única coluna vertical, posicionando-os de cima para baixo ou vise e versa*/
    align-items: center;/* Ela posiciona os elementos, garantindo que fiquem centralizados, independentemente do tamanho. */
}


body > *:not(footer) {/*"body > *:not(footer)" ele seleciona todos os "filhos/conteiners" que estao dentro de body, menos o footer */
    max-width: 800px; /*define a largura máxima do elemento como 800px.*/
    width: 100%;/*faz o elemento ocupar 100% da largura disponível dentro do elemento pai (respeitando o max-width).*/
    background: #acacac;/*define a cor de fundo*/
    padding: 30px;/*padding espaço interno (entre conteúdo e borda)*/
    border-radius: 8px;/*arredonda os cantos do elemento em 8px.*/
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);/*adiciona uma sombra leve*/
    margin-bottom: 20px;/*adiciona um espaçamento externo de 20px abaixo do elemento.*/
}



.foto {
    width: 230px;/*define largura e altura fixas de 230px (forma quadrada).*/
    height: 230px;/*define largura e altura fixas de 230px (forma quadrada).*/
    border-radius: 60%;/*consegue arredondar a borda da imagen*/
    object-fit: cover;/*faz a imagem preencher todo o espaço sem distorcer, cortando as partes excedentes se necessário.*/
    display: block;/*transforma a imagem em elemento de bloco (permite usar margin auto).*/
    margin: 0 auto 20px auto;/*centraliza horizontalmente e adiciona 20px de espaço abaixo.*/
    border: 4px solid #000000;/*adiciona uma borda preta de 4px.*/
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);/*adiciona uma sombra suave na imagem.*/
}

h3 {
    text-align: center;/* centraliza o texto*/
    font-size: 1.5rem;/* define o tamanho da da fonte*/
    color: #000000; /*define a cor da fonte*/
    margin-bottom: 10px;/*adiciona espaço abaixo do título.*/
    font-weight: 400;/* define a espeçura da fonte*/
    box-shadow:  0 2px 5px black;/*coloca o tom de cor da sombra*/
    padding: 10px;/*padding espaço interno (entre conteúdo e borda)*/
}

p {
    margin-bottom: 15px;/*add um espaço abaixo de cada paragrafo*/
    text-align: justify;/*justifica o texto, alinhando ele nos dois lados*/
}


footer {
    margin-top: 10px;/*adiciona espaço acima.*/
    font-size: 0.9rem;/*define o tamanho da fonte*/
    color: #000000;/*define da cor da fonte*/
    text-align: center;/*alinha o texto centralizando ele*/
    background-size: 200px;/*define o tamanho do fundo*/
    background-color: #000000(0 49% 51%);/*define a cor de fundo do footer ou roda pé*/
    box-shadow: 0 6px 12px rgb(0, 0, 0);/*adiciona sombra abaixo do footer.*/
    padding: 10px;/*padding espaço interno (entre conteúdo e borda)*/
    border-radius: 8px;/*arredonda os cantos*/
}